body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8px; /* Add margin to create space between the border and the content */
}

a {
    text-decoration: none;
    color: inherit;
  }

header {
    margin-top: 2.5em;
}

/* Registration Page*/

#registration-form {
    width: 350px;
    margin: auto;
}

.registration {
    text-align: left;
    /* margin-right: 250px; */
}

.registration .registerReg {
    display: inline-block;
    border-bottom: 2px solid #EF498F;
    padding: 4px 0px;
}

.registration .registerProg {
    display: inline-block;
    color: rgba(128, 128, 128, 0.801);
    padding: 4px 15px;
}

/* Hover Effect */
.registration .registerProg:hover {
    color: #555;
}

/* Email input box */
#userInput {
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 9px 20px;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    border: 1.5px solid #EF498F;
    border-radius: 7px;
    outline: none;
    transition: background-color 0.3s ease;
}

/* Add caret color */
#userInput::placeholde {
    color: #bebcbd;
}

/* Hover Effect */
#userInput:hover {
    border-color: #555;
}

/* Focus Effect */
#userInput:focus {
    border-color: #75838b;
    box-shadow: 0 0 5px #75838b;
}

#error-message {
    color: grey;
    display: none;
    margin-bottom: 20px;
    font-size: smaller;
}

.submitButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    background-color: #EF498F;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

/* Hover Effect */
.submitButton:hover {
    background-color: #75838b;
}

.graphic {
    margin-bottom: 20px;
}

/* Confirmation Page*/

.registration .confirmReg {
    display: inline-block;
    border-bottom: 2px solid #EF498F;
    
    padding: 4px 0px;
}

.registration .confirmProg {
    display: inline-block;
    color: #808080cc;
    padding: 4px 15px;
}

/* Hover Effect */
.registration .confirmProg:hover {
    color: #555;
}

.registration h5 {
    margin-bottom: 50px;
}

.message {
    text-align: center;
    margin-bottom: 30px;
}

.newReg {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    width: 70%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    background-color: #EF498F;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

/* Hover Effect */
.newReg:hover {
    background-color: #75838b;
}

/*Programme Page*/

.registration .programmeReg{
    display: inline-block;
    color: #808080cc;
    padding: 4px 0px;
}

.registration .programmeProg {
    display: inline-block;
    border-bottom: 2px solid #EF498F;
    padding: 4px 0px;
    margin: 15px;
}

/* Hover Effect */
.registration .programmeReg:hover {
    color: #555;
}

.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    min-width: 350px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #EF498F;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #EF498F;
}

/* Dashboard Page */

#dashboard-count {
    width: 350px;
    margin: auto;
}

.dashboard {
    text-align: left;
    /* margin-right: 250px; */
}

.dashboard .title {
    display: inline-block;
    border-bottom: 2px solid #3AA7CA;
    padding: 4px 0px;
}

.dashboard .percentage {
    text-align: center;
}

.dashboard .expectedPax {
    text-align: center;
}