/*
 **************************************************
 * Base Overrides
 **************************************************
 */
body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8px; 
}

header {
    margin-top: 2.5em;
    color: #343434;
}

footer {
    color: #343434;
}

a {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

input {
    box-sizing: border-box;
    font-size: 16px;
}

button {
    font-size: 16px;
}


/*
 **************************************************
 * Global Components
 **************************************************
 */
.content {
    width: 350px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-family: inherit;
}

/* Hover Effect */
.btn:hover {
    background-color: #464646;
}

.btn-block {
    width: 100%;
    display: block;
}

.form-heading {
    text-align: center;
    color: #4646466a;
    font-size: 12px;
}

.input-text {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 9px 20px;
    font-family: inherit;
    border: 1.5px solid #BE3455;
    border-radius: 7px;
    outline: none;
    transition: background-color 0.3s ease;
}

.input-text:hover {
    border-color: #343434;
}

/* Add caret color */
.input-text::placeholder {
    color: #bebcbd;
}

/* Focus Effect */
.input-text:focus {
    border-color: #75838b;
    box-shadow: 0 0 5px #75838b;
}

.input-block {
    width: 100%;
    display: block;
}

.tab-container {
    display: block;
    text-align: left;
}

.tab {
    display: inline-block;
    color: #808080CC;
    padding: 4px 0;
    margin-right: 15px;
}

.tab.active {
    color: #343434;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.tab:hover {
    color: #626262;
}


/*
 **************************************************
 * Common Components
 **************************************************
 */
.user-btn {
    color: #ffffff;
    background-color: #BE3455;
}

.admin-btn {
    color: #ffffff;
    background-color: #3AB0A2;
    padding: 10px 10px;
}

.user-input {
    margin-top: 20px;
}

.admin-input {
    padding: 9px 20px;
    width: 30%;
    border-color: #3AB0A2;
}

.user-tab.active {
    border-bottom-color:#BE3455;
}

.admin-tab.active {
    border-bottom-color:#3AB0A2;
}



/* Registration Page */

#registration-form {
    width: 350px;
    margin: auto;
}

.registration {
    text-align: left;
    /* margin-right: 250px; */
}

#error-message {
    color: grey;
    display: none;
    margin-bottom: 20px;
    font-size: smaller;
}

.graphic {
    margin-bottom: 20px;
}

.home:hover {
    color: #BE3455;
}

.about:hover {
    color: #BE3455;
}

/* Confirmation Page */

.registration h5 {
    margin-bottom: 50px;
}

.message {
    text-align: center;
    margin-bottom: 30px;
}

/* Programme Page */

.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #343434;
    min-width: 330px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #BE3455;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #dedbdb;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #BE3455;
}

/* About */

.desc {
    text-align: justify;
    font-weight: 100;
    margin-bottom: 60px;
}

.creator {
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #3AB0A2
}

.creator:hover {
    filter: grayscale(100%);
    transition: filter 0.1s ease-in-out;
}

/* Dashboard */

.percentage {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}